body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  .App {
	display: flex;
	flex-direction: column;
	height: 100vh;
  }

  .Content {
	display: flex;
	height: calc(100vh - 64px); /* Adjust the height based on your header's height */
  }

  .Sidebar {
	width: 50%; /* Sidebar takes up half the width */
  }

  .Map {
	width: 50%; /* Map takes up the other half of the width */
	position: relative; /* Position relative for absolute positioning of table */
  }

  /* Adjust the positioning of the table */
  .RoomDataList {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%; /* Adjust as needed */
	height: 50%; /* Adjust as needed */
	z-index: 1; /* Ensure the table appears above the map */
  }
