.App {
	display: grid;
	grid-template-columns: 30% 70%; /* 30% for sidebar and room selector, 70% for map */
	height: 100vh;
  }

  .Content {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 64px);
  }

  .Sidebar {
	width: 100%; /* Use 100% of the sidebar area */
  }

  .Map {
	position: relative;
	width: 100%; /* Use 100% of the map area */
  }

  .RoomDataListContainer {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px; /* Fixed width */
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
	overflow-y: auto; /* Scrollable */
	z-index: 5;
  }

  .room-data-list {
	max-height: 50vh;
	overflow-y: auto;
  }

  /* Update styles for selected table rows */
  .room-data-list tr.selected {
	background-color: #e9ecef;
  }

  /* Update z-index for table headers to stick */
  .room-data-list thead th {
	z-index: 2;
  }
